nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
    display: block;
    text-align: center;
}

nav ul a:hover,
nav ul a.active {
    background-color: #575757;
}
