.vertical-nav {
    display: flex;
    flex-direction: column;
    width: 180px; /* Adjust as needed */
    margin: 0 auto 20px auto;
    padding: 0;
    list-style: none;
}

.vertical-nav li {
    margin: 0 0 8px 0;
}

.vertical-nav li:last-child {
    margin-bottom: 0;
}

.vertical-nav a {
    color: white;
    background: #333;
    padding: 12px;
    border-radius: 4px;
    text-align: left;
    text-decoration: none;
    transition: background 0.3s;
    display: block;
}

.vertical-nav a:hover,
.vertical-nav a.active {
    background: #575757;
}
